<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <group ns="$(arg uav_name)">

    <node name="compton_filter" pkg="nodelet" type="nodelet" args="standalone compton_camera_filter/ComptonFilter" output="screen">

      <rosparam file="$(find compton_camera_filter)/config/kalman.yaml" command="load" />

      <!-- subscribed topics -->
      <remap from="~cone_in" to="compton_camera/cone" />

      <!-- advertised topics -->
      <remap from="~pose_2D_out" to="~pose_2D" />
      <remap from="~pose_3D_out" to="~pose_3D" />

    </node>

  </group>

</launch>
