<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <arg name="world_frame" default="common_origin" />
  <!-- <arg name="world_frame" default="$(arg uav_name)/slam_origin" /> -->
  <!-- <arg name="world_frame" default="$(arg uav_name)/stable_origin" /> -->
  <!-- <arg name="world_frame" default="$(arg uav_name)/slam_mapping_origin" /> -->

  <arg name="debug" default="false" />

  <arg name="custom_config" default="" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <group ns="$(arg uav_name)">

    <node name="compton_filter" pkg="nodelet" type="nodelet" args="standalone compton_camera_filter/ComptonFilter" output="screen" launch-prefix="$(arg launch_prefix)">

      <rosparam file="$(find compton_camera_filter)/config/kalman.yaml" command="load" />

      <rosparam if="$(eval not arg('custom_config') == '')" file="$(arg custom_config)" />

      <param name="uav_name" value="$(arg uav_name)" />
      <param name="world_frame" value="$(arg world_frame)" />

      <!-- subscribed topics -->
      <remap from="~cone_in" to="cone_aggregator/cones" />
      <remap from="~optimizer_in" to="cone_optimizer/pose" />

      <!-- advertised topics -->
      <remap from="~pose_2D_out" to="~pose_2D" />
      <remap from="~pose_3D_out" to="~pose_3D" />
      <remap from="~correction_2d_out" to="~correction_2d" />
      <remap from="~correction_3d_out" to="~correction_3d" />

      <!-- services -->
      <remap from="~sweeper_out" to="zigzagger/trigger" />
      <remap from="~localization_out" to="compton_localization/activate" />
      <remap from="~reset_out" to="cone_optimizer/reset" />

    </node>

  </group>

</launch>
